/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_left_parantheses {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <19 20>;
            require-prior-idle-ms = <150>;
        };

        combo_right_parantheses {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <21 22>;
            require-prior-idle-ms = <150>;
        };

        combo {
            bindings = <&kp LS(SEMI)>;
            key-positions = <32>;
            require-prior-idle-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  [  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  ;  | RCTRL  |
            //                    | GUI | LWR | ENT |   | SPC | RSE  | ALT |

            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R         &kp T             &kp Y      &kp U  &kp I      &kp O    &kp P      &kp RIGHT_GUI
&kp TAB    &kp A  &kp S  &kp D  &kp F         &kp G             &kp H      &kp J  &kp K      &kp L    &kp P      &kp BACKSPACE
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V         &kp B             &kp N      &kp M  &kp COMMA  &kp DOT  &kp SLASH  &kp ENTER
                         &to 1  &kp LEFT_ALT  &kp LEFT_SHIFT    &kp SPACE  &mo 1  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none  &kp N7        &kp N8  &kp N9        &kp EXCL     &trans     &trans  &trans  &trans  &trans  &trans
&none  &none  &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp N0       &trans     &trans  &trans  &trans  &trans  &trans
&none  &none  &kp N7        &kp N8  &kp N9        &kp EQUAL    &trans     &trans  &trans  &trans  &trans  &trans
                            &trans  &trans        &to 0        &kp SPACE  &trans  &trans
            >;
        };

        uo {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R         &kp T        &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp TAB    &kp A  &kp S  &kp D  &kp F         &kp G        &kp H      &kp J  &kp K      &kp L    &kp LBKT  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V         &kp B        &kp N      &kp M  &kp COMMA  &kp DOT  &kp SEMI  &to 0
                         &mo 0  &kp LEFT_ALT  &kp SPACE    &kp SPACE  &mo 1  &kp RALT
            >;
        };
    };
};
